<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading" style="font-size:70px;">Search Projects</h1>
          <div class="row">
            <div class="col-lg-12">
              <div class="col-lg-6" style="margin-left: 24%;margin-bottom: 5%;">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for..." style="border-radius: 0px;">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" style="background-color: orange;border-color: orange;color: white;">Search</button>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
          </div>
          <p class="intro-text">Type in search terms for projects that may interest you.
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About Open Source Project Finder</h2>
      <p>Open source project finder is a simple application go search for open source
        projects. The purpose of this application is to demonstrate basic rails proficiency. This website was created
        using the grayscale template at starter bootstrap.</p>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Contact Me</h2>
      <p>If you have any questions/comments please feel free to email me.</p>
      <p><a href="mailto:chadmbloomfield@gmail.com">chadmbloomfield@gmail.com</a></p>
    </div>
  </div>
</section>